html {
    scroll-behavior: smooth;
    background-color: #d9f5f9;
}
body {
    font-family: Arial, sans-serif;
    max-width: 1400px;
}
h2, h3 {
    color: #333;
    text-align: center;
}
p {
    color: #555;
    text-align: justify;
}
nav ul li a {
    color: #007BFF;
    text-decoration: none;
}
figure {
    text-align: center;
}
img {
    width: 50%;
    transition: transform 0.3s ease;
}
img:hover {
    transform: scale(0.9); /* Scales the image to 105% of its original size */
}
footer {
    text-align: center;
}

#partners p {
    text-align: center;
}